/* Estilo general */
Body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header{
    background-color: lightskyblue;
    color:  rgb(23, 23, 66);
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p{
    margin: 5px 0 0;
}

   /* Barra de navegacion*/
    nav ul{
        list-style: none;
        background-color: lightskyblue;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    nav ul li{
        padding: 14px 20px;
    }

    nav ul li a{
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
    }

    /* contenedor principal */

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 20px;
        gap: 20px;
    }

    main section h4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 5px;
        gap: 10px;
    }

    section h5 {
        margin: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 5px;
        gap: 10px;
    }

    .cards {
        display: flex;
        grid-template-columns: repeat(autofit, minmax(140px,1fr));
        gap: 1rem;
        padding: 1rem 1rem;
    }
      .card {
        width: 30%;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      
      .card img {
        width: 50%;
        transition: transform 0.3s ease;
      }
      
      .card:hover {
        transform: translateY(-10px);
      }
      
      .card:hover img {
        transform: scale(1.1);
      }
   
/* Pie de pagina */
footer{
    background-color: azure;
    color: black;
    text-align: center;
    padding: 15px;
}